* {
  box-sizing: border-box;
  margin: 0;
}

img,
video {
  display: block;
  width: 100%;
  height: 100%;
}

.tilbage li {
  margin-top: 5px;
  margin-left: 5px;
}

.tilbage a {
  font-size: 0.5rem;
  color: var(--red);
  text-decoration: none;
}

header nav {
  display: grid;
  place-self: center;
}

header nav ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
  color: var(--red);
  padding: 0;
}

header li {
  font-size: 0.7rem;
  place-self: center;
  list-style: none;
}

nav a {
  color: var(--red);
  text-decoration: none;
}

header .tilbage {
  margin-left: 10px;
}

header img {
  width: 20vw;
  margin: 5px;
}

body {
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  background-color: var(--grey);
  color: var(--darkblue);
}

html {
  --orange: #c87f21;
  --blue: #26758f;
  --darkblue: #272e59;
  --red: #a21915;
  --grey: #e4e4e4;
  --beige: #f4ede6;
  --brown: #d1beaa;

  --space-xxs: 0.25rem;
  --space-xs: 0.5rem;
  --space-s: 0.75rem;
  --space-sm: 1rem;
  --space-m: 1.25rem;
  --space-l: 2rem;
  --space-xl: 2.5rem;
  --space-xxl: 3rem;
  --space-xxxl: 4rem;
}

h1 {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--red);
  /* text-align: center; */
}

h2 {
  font-size: 1rem;
  font-weight: 500;
  color: var(--red);
}

h3 {
  font-size: 1rem;
  font-weight: 500;
  color: var(--red);
}

.box0 {
  width: 100%;
  height: 40px;
  background-color: var(--orange);
}

/* FOOTER STYLING -----  */

footer img {
  width: 110px;
}
footer {
  background-color: #6e95a1;
  display: grid;
}
footer p,
time,
h4,
hr,
address {
  color: white;
}

footer img {
  width: auto;
  height: 70px;
  margin-top: -25px;
  margin-left: 20px;
}

footer hr {
  width: 250px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#footer_indhold {
  grid-template-columns: auto auto auto;
  grid-template-rows: 1fr;
  margin-bottom: 30px;
  margin-inline: auto;
}
#footer_tider {
  margin-top: 10%;
  margin-bottom: 10%;
}

/* ___________________________ */

/* ---- MOBILE ABOVE -- WEBSITE OVER 700px BELOW ------ */

@media (min-width: 700px) {
  
  .tilbage a {
    font-size: 0.8rem;
  }
  
  
  header li {
    font-size: 1.4rem;
    place-self: center;
    list-style: none;
  }

  header nav ul {
    margin-left: 90px;
    margin-right: 90px;
  }

  header .tilbage {
    margin-left: 10px;
  }

  header img {
    width: 20vw;
    margin: 15px;
  }

  h1 {
    font-size: 3rem;
    font-weight: 700;
    color: var(--red);
  }

  h2 {
    font-size: 2rem;
    font-weight: 500;
    color: var(--red);
  }

  h3 {
    font-size: 1rem;
    font-weight: 500;
    color: var(--red);
  }

  .box0 {
    width: 100%;
    height: 100px;
    background-color: var(--orange);
  }
}

@media (min-width: 900px) {
  header nav ul {
    margin-left: 180px;
    margin-right: 180px;
  }